[submodule "vendor/tare"]
	path = static/ui/tare
	url = https://github.com/kofigumbs/tare
[submodule "vendor/Themes"]
	path = static/ui/Themes
	url = https://github.com/hundredrabbits/Themes
[submodule "vendor/FiraCode"]
	path = static/ui/FiraCode
	url = https://github.com/tonsky/FiraCode
[submodule "vendor/faust"]
	path = vendor/faust
	url = https://github.com/grame-cncm/faust
