[submodule "vendor/webview"]
	path = vendor/webview
	url = https://github.com/webview/webview
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "vendor/choc"]
	path = vendor/choc
	url = https://github.com/Traktion/choc
[submodule "vendor/tare"]
	path = vendor/tare
	url = https://github.com/kofigumbs/tare
[submodule "vendor/Themes"]
	path = vendor/Themes
	url = https://github.com/hundredrabbits/Themes
[submodule "vendor/FiraCode"]
	path = vendor/FiraCode
	url = https://github.com/tonsky/FiraCode
