[package]
name = "typebeat"
version = "0.1.0"
edition = "2018"

[[bin]]
name = "typebeat"
path = "audio/main.rs"

[dependencies]
anyhow = "1.0.41"
atomic_float = "0.1.0"
audrey = "0.3.0"
cpal = "0.13.3"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
wry = "0.10.3"
