[package]
name = "typebeat"
version = "0.1.0"
edition = "2018"

[[bin]]
name = "typebeat"

[dependencies]
anyhow = "1.0"
crossbeam = "0.8"
libm = "0.2.1"
miniaudio = { git = "https://github.com/ExPixel/miniaudio-rs", rev = "e001ba" }
num-traits = "0.2.14"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
wry = { version = "0.11", default-features = false, features = [ "file-drop", "protocol", "win32" ] }

[build-dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
