[package]
name = "typebeat"
version = "0.1.0"
edition = "2018"
build = "src/build.rs"

[workspace]
members = ["src-tauri", "src-web"]

[profile.dev]
opt-level = 2
overflow-checks = false

[dependencies]
crossbeam = "0.8"
default-boxed = "0.1"
directories = "3.0"
futures = "0.3"
libm = "0.2.1"
rfd = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# FIXME(https://github.com/ExPixel/miniaudio-rs/pull/73)
# FIXME(https://github.com/ExPixel/miniaudio-rs/pull/74)
[dependencies.miniaudio]
git = "https://github.com/kofigumbs/miniaudio-rs"
rev = "772b8e0"
features = ["bindgen"]
