[build]
command = """
cargo +nightly build -vv --target wasm32-unknown-emscripten --package typebeat-web --release && \
npx vite build src-web/client
"""
publish = "src-web/client/dist"

[build.environment]
EMMAKEN_CFLAGS = "-s ERROR_ON_UNDEFINED_SYMBOLS=0 -s ENVIRONMENT=web -s ALLOW_MEMORY_GROWTH=1 -s MODULARIZE=1 -s EXPORT_ES6=1 -s EXPORTED_RUNTIME_METHODS=\"['ccall']\" --embed-file src/samples -gsource-map"

[[redirects]]
from = "https://typebeat.netlify.app/*"
to = "https://typebeat.xyz/:splat"
