[build]
command = "export BINDGEN_EXTRA_CLANG_ARGS=\"--sysroot=`emconfigure env 2> /dev/null | sed -n -e 's/^EMSCRIPTEN=//p'`/cache/sysroot\" && cargo +nightly build --package typebeat-dot-xyz --target wasm32-unknown-emscripten --release && vite --config www/vite.config.js $TYPEBEAT_VITE www/typebeat.xyz"
publish = "www/typebeat.xyz/dist"

[build.environment]
EMMAKEN_CFLAGS = "--embed-file samples -gsource-map -s ALLOW_MEMORY_GROWTH=1 -s ENVIRONMENT=web -s ERROR_ON_UNDEFINED_SYMBOLS=0 -s EXPORTED_RUNTIME_METHODS=\"['ccall','_free','UTF8ToString']\" -s EXPORT_ES6=1 -s MODULARIZE=1"
TYPEBEAT_VITE = "build"

[dev]
command = "netlify build"

[context.dev.environment]
TYPEBEAT_VITE = "serve"

[[redirects]]
from = "https://typebeat.netlify.app/*"
to = "https://typebeat.xyz/:splat"

[[redirects]]
from = "/download/macos/*"
to = "https://macos--typebeat.netlify.app/:splat"

[[redirects]]
from = "/download/windows/*"
to = "https://windows--typebeat.netlify.app/:splat"
