body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1rem;
  font-weight: 800;
  display: inline;
}

header, p, ol, ul {
  margin: 3rem auto;
  padding: 0 1.5rem;
  max-width: 42rem;
  line-height: 1.75;
}

ol, ul {
  list-style-position: inside;
}

.grow {
  flex: 1;
}

.collapse-top {
  margin-top: 0;
}

.key {
  position: relative;
}

.mount.labeled .key:after {
  content: attr(data-cap);
}

.key:after {
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  z-index: 1;
  background: var(--pad_background);
  --pad_background: var(--light);
  --offset: -.35rem;
}

.key.mode:after {
  background: var(--highlight);
}

.key.pulse:after {
  animation: pulse .5s ease-out;
}

kbd {
  font-family: inherit;
  font-style: normal;
  background: var(--light);
}

.key:after, kbd {
  display: inline-block;
  color: var(--dark);
  border: solid 2px var(--dark);
  border-radius: 1rem;
  padding: .25rem .75rem;
  line-height: 1;
}
