/*
 * built-ins
 */

h1 {
  font-size: 1rem;
  font-weight: 800;
  display: inline;
}

p, ol, ul {
  padding: 0;
  line-height: 1.75;
  list-style-position: inside;
}

a, a:visited, a:active {
  color: currentColor;
  border-bottom: solid 2px currentColor;
  text-decoration: none;
}


/*
 * functional
 */

.bold {
  font-weight: 800;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.expanded {
  flex-grow: 1;
}

.copy {
  max-width: 42rem;
  margin: 2.5rem auto;
}

.full-width {
  width: 100%;
}

.padded-horizontally {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.spaced-after {
  margin-right: 1.5rem;
}

.faded {
  opacity: .4;
}


/*
 * components
 */

.instruction,
.key:after {
  display: inline-block;
  color: var(--dark);
  background: var(--key_background);
  border: solid 2px var(--dark);
  border-radius: 1rem;
  padding: .125rem .65rem;
  line-height: 1;
  --key_background: var(--light);
}

.key:after {
  content: attr(data-cap);
  position: absolute;
  left: -.65rem;
  bottom: -.75rem;
  z-index: 1;
  transition: background .1s ease;
}

.key.mode.active:after {
  background: var(--primary);
}

.key.pulse:after {
  animation: pulse .5s ease-out;
}
