body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1rem;
  font-weight: 800;
  display: inline;
}

header, p, ol, ul {
  margin: 2.5rem auto;
  padding: 0 1.5rem;
  max-width: 42rem;
  line-height: 1.75;
}

ol, ul {
  list-style-position: inside;
}

.grow {
  flex: 1;
}

.mount.labeled .key:after {
  content: attr(data-cap);
}

.key:after {
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  z-index: 1;
  background: var(--key_background);
  transition: background .1s ease;
  --offset: -.75rem;
  --key_background: var(--light);
}

.key.mode.active:after {
  background: var(--primary);
}

.key.pulse:after {
  animation: pulse .5s ease-out;
}

kbd {
  font-family: inherit;
  font-style: normal;
  background: var(--light);
}

.key:after, kbd {
  display: inline-block;
  color: var(--dark);
  border: solid 2px var(--dark);
  border-radius: 1rem;
  padding: .125rem .75rem;
  line-height: 1;
}

a, a:visited, a:active {
  color: currentColor;
  border-bottom: solid 2px currentColor;
  text-decoration: none;
}
