* {
  transition: .1s ease;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Fira Code';
  font-feature-settings: "ss07";
  background: var(--background);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.row, .minirow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  margin: 1px;
  transition-property: background;
}

.key.pad {
  background: var(--f_med);
}

.key.pad.pulse {
  animation: pulse .4s ease;
}

.minipad {
  width: 1rem;
  height: 0;
  padding-bottom: 1rem;
  margin: 1px;
  background: var(--f_high);
  transition-property: background, border;
}

.minipad.active {
  background: var(--b_inv);
}

.mode .minipad {
  background: var(--f_med);
}

.label {
  width: fit-content;
  height: 1.5rem;
  align-self: flex-start;
  color: var(--background);
  box-sizing: border-box;
  transition-property: border-bottom-color, color;
}

.label.title {
  border-bottom: solid 2px var(--background);
}

@keyframes pulse {
  from { background: var(--b_inv); }
  to { background: var(--f_med); }
}


/*
 * tare
 */

[data-tare] {
  width: 100%;
  height: 100%;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-color: var(--f_high);
  border-width: 2px;
  transition-property: border-width, border-color;
  pointer-events: none;
}

.mode [data-tare-character] * {
  border-width: 5px;
  border-color: var(--f_med);
}


/*
 * spacing
 */

.row:nth-of-type(1) {
  margin-left: -3rem;
}

.row:nth-of-type(3) {
  margin-left: 3rem;
}

.key:nth-of-type(6) {
  margin-left: 3rem;
}

.minirow:nth-of-type(1) {
  margin-left: -.5rem;
}

.minirow:nth-of-type(3) {
  margin-left: .5rem;
}
