html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  color: var(--light);
  background: var(--dark);
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  --light: #ebdbb2;
  --primary: #d65d0e;
  --secondary: #d79921;
  --dark: #282828;
  --transition: .055s;
}

body, button {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  font-feature-settings: "ss07";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  box-sizing: content-box;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.mount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  background: var(--dark);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.key {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  margin: 1px;
  --pulse: var(--secondary);
}

.action {
  justify-content: center;
  background: var(--key_background);
  --key_background: var(--primary);
}

.mode {
  --key_background: var(--light);
}

.mode.active {
  --key_background: var(--primary);
}

.mode .label {
  width: 100%;
  height: 100%;
}

.mode .visual {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(50% - 2px);
  background: var(--key_background);
  transition: background var(--transition) ease-out;
}

.mode .visual svg {
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}

.mode .visual svg * {
  fill: var(--key_background);
  stroke: var(--dark);
  transition: fill var(--transition) ease-out;
  --pulse: var(--dark);
}

.mode .visual svg .dark {
  --key_background: var(--dark);
}

.mode .visual svg .secondary {
  --key_background: var(--secondary);
}

.mode .visual svg .transparent {
  --key_background: transparent;
}

.action .label {
  width: fit-content;
  height: 1.25rem;
  align-self: flex-start;
  color: var(--dark);
  box-sizing: border-box;
}

.action .title {
  border-bottom: solid 2px currentColor;
}

.pulse {
  animation: pulse .45s ease-out;
}

@keyframes pulse {
  from {
    fill: var(--pulse);
    background: var(--pulse);
  }
  to {
    fill: var(--key_background);
    background: var(--key_background);
  }
}


/*
 * tare
 */

[data-tare] {
  width: 100%;
  height: 50%;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-color: var(--key_background);
  border-width: 2px;
  pointer-events: none;
  transition: border var(--transition) ease-out;
}

.active [data-tare-character] * {
  border-width: 4px;
}


/*
 * spacing
 */

.row:first-of-type {
  margin-left: -3rem;
}

.row:last-of-type {
  margin-left: 3rem;
}

.mode + .action {
  margin-left: 3rem;
}
