html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  color: var(--light);
  background: var(--dark);
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  --light: #ebdbb2;
  --primary: #d65d0e;
  --secondary: #d79921;
  --dark: #282828;
}

body, button {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  font-feature-settings: "ss07";
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  box-sizing: content-box;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  background: var(--dark);
  transition: background .1s ease;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.key {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  margin: 1px;
}

.action {
  justify-content: center;
  background: var(--key_background);
  --key_background: var(--primary);
  --key_pulse: var(--secondary);
}

.mode {
  --key_background: var(--light);
}

.mode.active {
  --key_background: var(--primary);
}

.visual {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(50% - 2px);
  background: var(--key_background);
}

.visual svg {
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}

.visual svg * {
  stroke: var(--dark);
}

.title {
  border-bottom: solid 2px currentColor;
}

.pulse {
  animation: pulse .5s ease-out;
}

@keyframes pulse {
  from {
    fill: var(--key_pulse);
    stroke: var(--key_pulse);
    background: var(--key_pulse);
  }
  to {
    fill: var(--key_fill);
    stroke: var(--key_stroke);
    background: var(--key_background);
  }
}

/*
 * custom elements
 */

custom-element-mono {
  width: fit-content;
  height: 1.25rem;
  align-self: flex-start;
  color: var(--dark);
  box-sizing: border-box;
}

custom-element-tare {
  width: 100%;
  height: 100%;
}

[data-tare] {
  width: 100%;
  height: 50%;
  transition: border .1s ease;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-color: var(--key_background);
  border-width: 2px;
  pointer-events: none;
}

.active [data-tare-character] * {
  border-width: 5px;
}


/*
 * spacing
 */

.row:nth-of-type(1) {
  margin-left: -3rem;
}

.row:nth-of-type(3) {
  margin-left: 3rem;
}

.mode + .action {
  margin-left: 3rem;
}
