/*
 * built-ins
 */

p {
  padding: 0;
  line-height: 1.75;
}

a, a:active, a:visited {
  color: currentColor;
  text-decoration: none;
  border-bottom: solid 2px currentColor;
}


/*
 * functional
 */

b, .bold {
  font-weight: 800;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.expanded {
  flex-grow: 1;
}

.copy {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
}

.full-height {
  min-height: 100%;
}

.full-width {
  width: 100%;
}

.padded-horizontally {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.spaced-above {
  margin-top: 2.5rem;
}

.spaced-after {
  margin-right: 1.5rem;
}

.spaced-below {
  margin-bottom: 2.5rem;
}


/*
 * components
 */

.bullet {
  position: relative;
  padding-left: 1.5rem;
  box-sizing: border-box;
}

.bullet::before {
  content: '-';
  position: absolute;
  left: 0;
}
