* {
  transition: .1s ease;
  transition-property: color, background, border;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  --light: #ebdbb2;
  --highlight: #d65d0e;
  --lowlight: #d79921;
  --dark: #282828;
  color: var(--light);
  background: var(--dark);
}

body {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  font-feature-settings: "ss07";
}

.mount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  background: var(--dark);
}

.row, .minirow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  margin: 1px;
}

.key.pad {
  --pad_background: var(--highlight);
  --pad_pulse: var(--lowlight);
  background: var(--pad_background);
}

.minipad {
  --pad_background: var(--light);
  --pad_pulse: var(--dark);
  width: 1rem;
  height: 0;
  padding-bottom: 1rem;
  margin: 1px;
  background: var(--pad_background);
}

.mode .minipad {
  --pad_background: var(--highlight);
}

.minipad.active {
  --pad_background: var(--lowlight);
}

.label {
  width: fit-content;
  height: 1.5rem;
  align-self: flex-start;
  color: var(--dark);
  box-sizing: border-box;
}

.label.title {
  border-bottom: solid 2px var(--dark);
}

.pulse {
  animation: pulse .5s ease-out;
}

@keyframes pulse {
  from { background: var(--pad_pulse); }
  to { background: var(--pad_background); }
}


/*
 * tare
 */

[data-tare] {
  width: 100%;
  height: 100%;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-color: var(--light);
  border-width: 2px;
  pointer-events: none;
}

.mode [data-tare-character] * {
  border-width: 5px;
  border-color: var(--highlight);
}


/*
 * spacing
 */

.row:nth-of-type(1) {
  margin-left: -3rem;
}

.row:nth-of-type(3) {
  margin-left: 3rem;
}

.key:nth-of-type(6) {
  margin-left: 3rem;
}

.minirow:nth-of-type(1) {
  margin-left: -.5rem;
}

.minirow:nth-of-type(3) {
  margin-left: .5rem;
}
