html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  overflow: hidden;
  background: var(--bg1);
  --border-width: .4rem;
  --border-radius: .5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.screen {
  position: relative;
  width: 20rem;
  height: 10rem;
  margin: 0 3rem;
  border: solid var(--border-width) var(--dark-gray);
  border-radius: var(--border-radius);
}

.scene {
  position: absolute;
  top: -4rem;
  left: -4rem;
  width: calc(100% + 8rem);
  height: calc(100% + 8rem);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row:nth-child(1) {
  margin-left: -3rem;
}

.row:nth-child(3) {
  margin-left: 3rem;
}

.keys {
  margin-right: .5rem;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: .5rem;
  color: var(--dark-gray);
  background: var(--bg1);
  border: solid var(--border-width) var(--dark-gray);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.key.down {
  color: var(--bg1);
  background: var(--dark-gray);
}

.key .cap {
  font-style: italic;
  font-weight: 700;
}
