html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  background: var(--background);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.row, .minirow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  border: solid 1px var(--background);
}

.minipad {
  width: 1rem;
  height: 0;
  padding-bottom: 1rem;
  border: solid 1px var(--background);
  background: var(--f_med);
  transition: background .1s ease;
}

.bold .minipad {
  background: var(--f_high);
}

.minipad.selected {
  background: var(--b_inv);
}

.key.pad {
  background: var(--f_high);
  transition: background .1s ease;
}

.key.pad.pulse {
  animation: pulse .4s ease;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  color: var(--background);
  border-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: var(--background);
  overflow: hidden;
  transition: height .1s ease, border-width .1s ease;
}

.label:empty {
  height: 0;
  border-width: 1px;
}

@keyframes pulse {
  from { background: var(--b_inv); }
  to { background: var(--f_high); }
}


/*
 * tare
 */

[data-tare] {
  width: 100%;
  height: 100%;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-color: var(--f_high);
  border-width: 3px;
  transition: border-width .1s ease;
  pointer-events: none;
}

.thin [data-tare-character] * {
  border-width: 1px;
}

.bold [data-tare-character] * {
  border-width: 6px;
}


/*
 * spacing
 */

.row:nth-of-type(1) {
  margin-left: -3rem;
}

.row:nth-of-type(3) {
  margin-left: 3rem;
}

.key:nth-of-type(6) {
  margin-left: 3rem;
}

.minirow:nth-of-type(1) {
  margin-left: -.5rem;
}

.minirow:nth-of-type(3) {
  margin-left: .5rem;
}
