html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

html {
  color: var(--light);
  background: var(--dark);
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  --dark: var(--theme0, #282828);
  --light: var(--theme1, #ebdbb2);
  --primary: var(--theme2, #d65d0e);
  --secondary: var(--theme3, #d79921);
  --transition: .055s;
}

body,
button {
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  font-feature-settings: "ss07";
}

button {
  cursor: pointer;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  box-sizing: content-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-command: manipulation;
  background: var(--dark);
}

.app .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.app .key {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  padding: .75rem;
  margin: 1px;
  --pulse: var(--secondary);
}

.app .command {
  justify-content: center;
  background: var(--key_background);
  --key_background: var(--primary);
}

.app .mode {
  --key_background: var(--light);
}

.app .mode.active {
  --key_background: var(--primary);
}

.app .mode .label {
  width: 100%;
  height: 100%;
}

.app .mode .visual {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(50% - 2px);
  background: var(--key_background);
  transition: background var(--transition) ease-out;
}

.app .mode .visual svg {
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}

.app .mode .visual svg * {
  fill: var(--key_background);
  stroke: var(--dark);
  transition: fill var(--transition) ease-out;
  --pulse: var(--dark);
}

.app .mode .visual svg .dark {
  --key_background: var(--dark);
}

.app .mode .visual svg .secondary {
  --key_background: var(--secondary);
}

.app .mode .visual svg .transparent {
  --key_background: transparent;
}

.app .command .label {
  width: fit-content;
  height: 1.25rem;
  align-self: flex-start;
  color: var(--dark);
  box-sizing: border-box;
}

.app .title {
  border-bottom: solid 2px currentColor;
}

.app.labeled .key:after,
kbd {
  display: inline;
  color: var(--dark);
  background: var(--key_background);
  border: solid 2px var(--dark);
  border-radius: 1rem;
  padding: .125rem .65rem;
  line-height: 1;
  --key_background: var(--light);
}

.app.labeled .key:after {
  content: attr(data-cap);
  position: absolute;
  left: -.65rem;
  bottom: -.75rem;
  z-index: 1;
  transition: background .1s ease;
}

.app.labeled .key.mode.active:after {
  background: var(--primary);
}

.app .pulse,
.app.labeled .key.pulse:after {
  animation: pulse .45s ease-out;
}

@keyframes pulse {
  from {
    fill: var(--pulse);
    background: var(--pulse);
  }
  to {
    fill: var(--key_background);
    background: var(--key_background);
  }
}


/*
 * tare
 */

.app [data-tare] {
  width: 100%;
  height: 50%;
}

.app [data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

.app [data-tare-character] * {
  border-color: var(--key_background);
  border-width: 2px;
  pointer-events: none;
  transition: border var(--transition) ease-out;
}

.app .active [data-tare-character] * {
  border-width: 4px;
}


/*
 * spacing
 */

.app .row:first-of-type {
  margin-left: -3rem;
}

.app .row:last-of-type {
  margin-left: 3rem;
}

.app .mode + .command {
  margin-left: 3rem;
}
