html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  overflow: hidden;
  --border-width: .4rem;
  --border-radius: .5rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row:nth-child(1) {
  margin-left: -1.5rem;
}

.row:nth-child(3) {
  margin-left: 1.5rem;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 3rem;
  padding: .75rem;
  border: solid 1px white;
}

.play {
  background: black;
}

.key:nth-child(6) {
  margin-left: 3rem;
}

[data-tare] {
  width: 100%;
  height: 100%;
}

[data-tare-character] + [data-tare-character] {
  margin-left: 2px;
}

[data-tare-character] * {
  border-width: 3px;
  transition: border-width .1s ease;
}

.thin [data-tare-character] * {
  border-width: 1px;
}

.bold [data-tare-character] * {
  border-width: 6px;
}
