:root {
  --base: #ebdbb2;
  --text: #7c5f64;
  --accent: #d65d0e;
  --border-width: 3px;
  --border-radius: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  overflow: hidden;
  background: var(--base);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.screen {
  position: relative;
  width: 20rem;
  height: 10rem;
  margin: 0 3rem;
  border: solid var(--border-width) var(--text);
  border-radius: var(--border-radius);
}

.illustrations {
  position: absolute;
  top: -2rem;
  left: -3rem;
  width: calc(100% + 6rem);
  height: calc(100% + 4rem);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row:nth-child(1) {
  margin-left: -3rem;
}

.row:nth-child(3) {
  margin-left: 3rem;
}

.keys {
  margin-right: .5rem;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: .5rem;
  color: var(--text);
  background: var(--base);
  border-radius: var(--border-radius);
  position: relative;
}

.key.down {
  color: var(--base);
  background: var(--text);
}

.key .box {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid var(--border-width) var(--text);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.key .cap {
  font-style: italic;
  font-weight: 700;
}
