html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  cursor: default;
  overflow: hidden;
}

body > *:last-child {
  margin-bottom: 22px; /* see docs/frameless.md */
}


/*
 * utilities
 */

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}


/*
 * keyboard
 */

.box {
  margin: .5rem;
}

.key {
  text-transform: capitalize;
  /* https://www.huratips.com/tech-tips/fixing-z-index-issue-on-safari-browser.html */
  z-index: 999;
  -webkit-transform: translate3d(0,0,0);
}

.key::before {
  content: attr(data-before);
  position: absolute;
  top: .25rem;
  left: .5rem;
}

.key::after {
  content: attr(data-after);
  position: absolute;
  right: 0;
  padding: 0 .5rem;
  bottom: .25rem;
  opacity: .6;
  font-style: italic;
}

.key, .shadow {
  width: 3rem;
  height: 3rem;
  border: solid .25rem;
  border-radius: .25rem;
  font-weight: 800;
}

.shadow {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.key.down {
  top: .5rem;
  left: .5rem;
}


/*
 * horizontal spacing
 */

.stagger-left {
  margin-left: -2rem;
}

.stagger-right {
  margin-left: 2rem;
}


/*
 * gruvbox
 */

:root {
  --light: #fbf1c7;
  --dark: #3c3836;
  --gray: #7c6f64;
  --yellow: #d79921;
  --orange: #d65d0e;
}

html {
  background: var(--light);
}

.key {
  color: var(--dark);
  background: var(--light);
}

.shadow {
  background: var(--dark);
}

.key, .shadow {
  border-color: var(--dark);
}

.key.sequence {
  color: var(--light);
  background: var(--gray);
}

.key.sequence.highlight + .shadow {
  background: var(--orange);
}

.armed .key.sequence.highlight + .shadow {
  background: var(--yellow);
}

.key.tracklist {
  color: var(--light);
  background: var(--orange);
}

.key.tracklist.highlight + .shadow {
  background: var(--yellow);
}

.key.active {
  color: var(--light);
  background: var(--dark);
}
