html {
  font-size: 16px;
  font-family: 'Fira Code';
  font-feature-settings: 'ss07';
  cursor: default;
  overflow: hidden;
  background: var(--base);
  /* github.com/morhetz/gruvbox/ */
  --base: #3c3836;
  --text: #9e9c9b;
  --accent: #d65d0e;
  /* neumorphism.io/#3c3836 */
  --base-shadow-up: 5px 5px 10px #33302e, -5px -5px 10px #45403e;
  --base-shadow-down: 1px 1px 2px #33302e, -1px -1px 2px #45403e;
  --base-gradient-down: linear-gradient(145deg, #363231, #403c3a);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row:nth-child(1) {
  margin-left: -3rem;
}

.row:nth-child(3) {
  margin-left: 3rem;
  margin-bottom: 22px; /* see docs/frameless.md */
}

.key {
  opacity: 1;
  width: 3.5rem;
  height: 3.5rem;
  margin: .5rem;
  border-radius: .5rem;
  background: var(--base);
  box-shadow: var(--base-shadow-up);
  position: relative;
  transition: all .15s ease;
}

.key:nth-child(6) {
  margin-left: 4.5rem;
}

.key.down {
  opacity: 1;
  background: var(--base-gradient-down);
  box-shadow: var(--base-shadow-down);
}

.key.hidden {
  opacity: .1;
  box-shadow: var(--base-shadow-down);
}

.key .cap {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  opacity: .6;
  color: var(--text);
}

.key .symbol {
  position: absolute;
  top: .5rem;
  left: .5rem;
  color: var(--text);
}

.key .mode {
  position: absolute;
  left: 3.5rem;
  bottom: .5rem;
  opacity: 0;
  color: var(--accent);
  font-weight: 700;
  transition: all .15s ease;
}

.key.down:not(.hidden) .mode {
  left: 4rem;
  opacity: 1;
}
