body {
  height: unset;
}

header, p, ol, ul {
  margin: 3rem auto;
  padding: 0 1.5rem;
  max-width: 42rem;
  line-height: 2;
}

ol, ul {
  list-style-position: inside;
}

kbd {
  font-family: inherit;
  font-style: normal;
  color: var(--background);
  background: var(--f_high);
  padding: .375rem .75rem;
}

kbd[role=button] {
  cursor: pointer;
}
