on:
  workflow_dispatch: {}

env:
  TAURI_CLI_VERSION: 34be6cf

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-11
            bundle: dmg
          - os: windows-2019
            bundle: msi
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - run: cargo install --git https://github.com/tauri-apps/tauri --rev ${{ env.TAURI_CLI_VERSION }} --locked tauri-cli
      - run: cargo tauri build
      - run: netlify deploy --alias ${{ runner.os }} --dir target/release/bundle/${{ matrix.bundle }}
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
