on:
  workflow_dispatch: {}

env:
  TAURI_CLI_VERSION: 34be6cf

jobs:
  main:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - run: cargo install --git https://github.com/tauri-apps/tauri --rev ${{ env.TAURI_CLI_VERSION }} tauri-cli
      - run: cargo tauri build
      - run: netlify deploy --alias macos --dir target/release/bundle/dmg
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
