on:
  workflow_dispatch: {}
  push: { branches: main }

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        target: wasm32-unknown-emscripten
    - uses: Swatinem/rust-cache@v1
    - uses: mymindstorm/setup-emsdk@v9
    - env:
        NETLIFY_API_KEY: ${{ secrets.NETLIFY_API_KEY }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      run: |-
        npm install
        npx netlify-cli deploy --build --prod
