on:
  workflow_dispatch: {}

env:
  EMSCRIPTEN_VERSION: 2.0.29

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
        with: { target: wasm32-unknown-emscripten }
      - uses: mymindstorm/setup-emsdk@v11
        with:
          version: ${{ env.EMSCRIPTEN_VERSION }}
          update: true
          actions-cache-folder: emsdk-cache
      - run: netlify deploy --build --prod
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
