on:
  workflow_dispatch: {}

env:
  EMSCRIPTEN_VERSION: 2.0.29
  FAUST_VERSION: 2.33.1

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup
      - uses: kofigumbs/setup-emsdk@master # FIXME(https://github.com/mymindstorm/setup-emsdk/pull/22)
        with:
          version: ${{ env.EMSCRIPTEN_VERSION }}
          update-tags: true
          actions-cache-folder: emsdk-cache
      - run: git clone --recursive --depth 1 --branch ${{ env.FAUST_VERSION }} https://github.com/grame-cncm/faust ${{ runner.temp }}/faust
      - uses: actions/cache@v2
        with:
          path: ${{ runner.temp }}/faust/build/bin
          key: faust-${{ runner.os }}-${{ env.FAUST_VERSION }}
      - run: |-
          make -C ${{ runner.temp }}/faust
          echo ${{ runner.temp }}/faust/build/bin >> $GITHUB_PATH
      - run: netlify deploy --build --prod
        env:
          FAUST_LIB_PATH: ${{ runner.temp }}/faust/libraries
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
