on:
  workflow_dispatch: {}
  push: { branches: main }

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true
        target: wasm32-unknown-emscripten
    - uses: Swatinem/rust-cache@v1
      with:
        cache-on-failure: true
    - uses: kofigumbs/setup-emsdk@master # FIXME(https://github.com/mymindstorm/setup-emsdk/pull/22)
      with:
        version: '2.0.29'
        update-tags: true
        actions-cache-folder: 'emsdk-cache'
    - run: |-
        npm install --global npm@7 netlify-cli@6
        npm install
    - env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NODE_OPTIONS: '--max_old_space_size=6000' # FIXME(https://github.com/vitejs/vite/issues/4162)
      run: netlify deploy --build --prod
