:root {
  --light: #fbf1c7;
  --dark: #3c3836;
  --gray: #7c6f64;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d61;
  --orange: #d65d0e;
}


/*
 * built-ins
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  cursor: default;
  overflow: hidden;
  background: var(--light);
}

body > *:last-child {
  margin-bottom: 22px; /* see notes/frameless.md */
}


/*
 * utilities
 */

.tall {
  height: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}


/*
 * components
 */

.stagger-left {
  margin-left: -2rem;
}

.stagger-right {
  margin-left: 2rem;
}

.key {
  position: relative;
  margin: .5rem;
  color: var(--text);
  background: var(--background);
  text-transform: capitalize;
}

.key, .shadow {
  width: 3rem;
  height: 3rem;
  border-radius: .25rem;
  border: solid .25rem var(--accent);
  font-weight: 800;
}

.shadow {
  position: absolute;
  z-index: -1;
  top: .25rem;
  left: .25rem;
  background: var(--accent);
}

.key:nth-child(5) {
  margin-right: 2rem;
}

.key::before {
  content: attr(data-name);
  position: absolute;
  top: .25rem;
  left: .5rem;
}

.key::after {
  content: attr(data-key);
  position: absolute;
  right: .5rem;
  bottom: .25rem;
  opacity: .6;
  font-style: italic;
}

.shift .key::before {
  content: attr(data-shift);
}

.alt .key::before {
  content: attr(data-alt);
}

.key.down {
  top: .5rem;
  left: .5rem;
}

.key.down .shadow {
  display: none;
}

.key.sequence {
  --text: var(--light);
  --background: var(--gray);
  --accent: var(--dark);
}

.key.sequence.current {
  --accent: var(--orange);
}

.key.navigation {
  --text: var(--light);
  --background: var(--orange);
  --accent: var(--dark);
}

.key.navigation.current {
  --background: var(--yellow);
}

.key.control {
  --text: var(--dark);
  --background: var(--light);
  --accent: var(--dark);
}
