html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  --light: #f5eedf;
  --gray: #999;
  --dark: #555;
  --black: #000;
  --blue: dodgerblue;
  --green: green;
  --orange: darkorange;
  background: var(--light);
}

body {
  font-size: 18px;
  font-family: "Fira Code", "Menlo";
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}


/*
 * UTILITIES
 */

.tall {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}


/*
 * COMPONENTS
 */

.row:first-of-type {
  margin-left: -1rem;
}

.row:last-of-type {
  margin-left: 1rem;
}

.key {
  margin: .5rem;
  width: 3rem;
  height: 3rem;
  font-weight: 800;
  text-transform: capitalize;
  position: relative;
  color: var(--text, var(--light));
  background: var(--background);
  border: solid 1px var(--accent, var(--black));
}

.key::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--accent, var(--black));
}

.key.down, .key:not(.down)::before {
  top: .25rem;
  left: .25rem;
}

.key.sequence {
  --background: var(--dark);
}

.key.sequence.lit {
  --accent: var(--orange);
}

.key.navigation {
  --background: var(--gray);
}

.key.navigation.lit {
  --accent: var(--green);
}

.key.control {
  --text: var(--dark);
  --background: var(--light);
}

.key.control.lit {
  --accent: var(--blue);
}
