html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  --light: #fbf1c7;
  --dark: #3c3836;
  --gray: #7c6f64;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d61;
  --orange: #d65d0e;
  background: var(--light);
  overflow: hidden;
}

body {
  font-size: 18px;
  font-family: "Fira Code", "Menlo";
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}


/*
 * utilities
 */

.tall {
  height: 100%;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}


/*
 * components
 */

.staggered:first-of-type {
  margin-left: -1rem;
}

.staggered:last-of-type {
  margin-left: 1rem;
  margin-bottom: 22px; /* see notes/frameless.md */
}

.key {
  width: 3rem;
  height: 3rem;
  margin: .5rem;
  text-transform: capitalize;
  position: relative;
  color: var(--text);
  background: var(--background);
  border: solid 1px var(--accent);
}

.key:nth-child(5) {
  margin-right: 2.5rem;
}

.key::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--accent);
}

.key.down, .key:not(.down)::before {
  top: .25rem;
  left: .25rem;
}

.key.sequence {
  --text: var(--light);
  --background: var(--gray);
  --accent: var(--dark);
}

.key.sequence.current {
  --accent: var(--orange);
}

.key.navigation {
  --text: var(--light);
  --background: var(--orange);
  --accent: var(--dark);
}

.key.control {
  --text: var(--dark);
  --background: var(--light);
  --accent: var(--dark);
}
